<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <h1>{{word.name}}</h1>
        </div>

        <div class="col-lg-9">
            <h2>Video hướng dẫn</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{word.video}}"></iframe>
            <h2>{{word.word}}</h2>
            <h3>{{word.mean}}</h3>
        </div>
    </div>
</div>
