<div class="mt-4">
    <form>
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Tìm Kiếm</span>
            <input type="text" name="q" class="form-control" placeholder="Input...">
        </div>
        <select name="sex" id="select-form">
            <option value="">--Chọn giới tính--</option>
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>